*{
  margin: 0;
  padding: 0;
}
body{
  background: black; #f8f8ff; #0f0f0f;
  opasity: 0.39;
  font-size: 11px;
}
/*
#burg a{
  display: block;
  width: 70px;
}
#burg{
  width: 100%;
  background: #000;
  padding: 7.5px 0 7.5px 0;
}
*/
span{
  margin: 3px;
  width: 25px;
  height: 1px;
  background: #000;
  z-index: 999;
}
/*
.mobile-tab{
  display: flex;
  width: 100%;
  background: #000;
  flex-direction: column;
}

.mobile-tab a{
  font-size: 1em;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: 1px;
}
.mobile-tab li{
  list-style-type: none;
  margin: 2% 3%;
}
.mobile-tab ul{
  display: block;
  padding: 5% 0;
}
/*
@media screen and (min-width: 0){

  #burg,#mobile{
    display: none;
  }

  .bar{
    background: #000;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  a{
    text-decoration: none;
    color: #c3c3c3;
    margin: 0;
  }
  ul{
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li{
    color: white;
    cursor: pointer;
    background: #000;
    padding: 1px 1px;
    text-align: center;
    width: 28px;
    transition: all .2s ease-in-out;
  }
  li:hover{
    background: #fff;
    opacity: .0;
    box-shadow: inset 1px 1px 5px grey;
  }
  li:hover a{
    color: #2b2b2b;
  }
*/
.item img{
  margin: 22px 3px;
}
/*
img:hover{
  opacity: 0.5;
}
*/
audio{
  height: 10px;
  width: 239px;
  color: black;
  z-index: 12;
}
.audio_cont{
  width: 100%; 290px;
  background: black;;rgba(0,0,0,0.9);
  position: absolute;
  bottom: 0;
}
p{
  color: #f7236a;
}

input,h6{
  color: #f7236a; #684e5b;
  background-color: black;
}
button{
  color: #0f0f0f;
  height: 9px;
  background-color: black;
  border: 0;
}

/*menu2*/
#burg_1{
  padding: 5px 0 5px 90%;
  color: #f7236a; #684e5b; #FF6699;
}
.bar_1{
  color: #f7236a; #000; //#FF6699;
  margin: 2px;
  width: 22px;
  height: 8px;
  position: absolute;
  top: 14px;
}
.bar_u{
  color: #f7236a; #000; //#FF6699;
  margin: 2px;
  width: 22px;
  height: 8px;
  position: absolute;
  top: 25px;
}
#menu_u{
  background-color: black;
  /*height: 22px;*/
}
#menu_u a{
  color: #f7236a;
  text-decoration: none;
  padding: 0 5px;
}

.menu{
  position: absolute;
  right: 0;

}
  #burg_2{
  background :rgba(0, 0, 0, 1);
  padding: 2px 0 2px 98%;

}
.bar_2{
  margin: 0;
  width: 25px;
  height: 2px;
  background: #d09cb6;
  padding: 0;
}
.mobile2 {
  position: fixed;
  top: 0;
  background :rgba(0, 0, 0, 0.8);
  width: 259px;
  height: 100%; 519px;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 9;
}
.mobile_items2 a{
  font-size: 12px;
  color: black; #684e5b;
  text-decoration: none;
  letter-spacing: 1px;
}
.mobile_items2 li{
  display: block;
  list-style-type: none;
  margin-top: 6%;
  color: black;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.mobile_items2  li:hover{
    background: black;
/*    opacity: .0;
    box-shadow: inset 1px 1px 5px black;*/
  }
.mobile_items2  li:hover a{
    color: #f7236a; #684e5b;

}
.mobile_items2 ul{
  display: block;
  margin-top: 20px;
  padding: 0 0;
}
.mobile_items2 img{
  background: #f7236a; #684e5b; #FF6699;
  margin: -5px 2px;
}
/*btm_menu*/
#b_menu{
  width: 100%;
  height: 12px;
  background-color: #000;
  position: absolute;
  bottom: 0;
}

#hdr{
  height: 15px;
  width: 100%;
  color: #f7236a; #684e5b;
  background: #000;
}
.list {
  display: inline-flex;
  max-width: 190px;
  margin-right: 15px;
}
.list img{
  margin: 5px 3px;
}
.list div{
  opacity: 0
}
.list:hover > div{
  opacity: 1;
}
.list:hover img{
  opacity: 0.1
}
.show{
  position:relative;
  bottom: -41px;
  text-align: center;
}

/*Item menu*/
.mobile {
    position: fixed;
    top: 0;
    background :rgba(0, 0, 0, 0.9);
    width: 239px;
    height: 100vh;
    color: black;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 300ms ease-out;
    z-index: 99;
}
.mobile__items ul{
  text-align: center;
}
.mobile__items li{
  list-style-type: none;
  position: relative;
  top: 20px;
  margin-top: 12px;

}
.mobile__items a{
  font-size: 1em;
  color: #f7236a;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 1px;
}
.mobile__items a:hover{
  color: black;
  background-color: ghostwhite;
}
.open {
    transform: translateX(0);
}
/*big item
.big_i{
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 55px;

}
.big_i div{
  position: relative;
  float: right;

}
*/
/*und menu*/
